@import 'mediawiki.skin.variables.less';

.ext-floatingui-reference[ tabindex='0' ] {
	cursor: pointer;
}

.ext-floatingui-floating {
	position: absolute;
	z-index: @z-index-tooltip;
	top: 0;
	left: 0;
	max-width: calc( 100vw - @spacing-200 );
}

.ext-floatingui-floating-inner {
	--ext-floatingui-floating-motion-distance: 4px;
	border: @border-base;
	border-radius: @border-radius-base;
	background-color: @background-color-base;
	box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.06 ), 0 0 16px 0 rgba( 0, 0, 0, 0.06 ); /* box-shadow-large */
	color: @color-base;
	opacity: @opacity-transparent;
	transform: translateX( var( --ext-floatingui-floating-motion-x, 0 ) ) translateY( var( --ext-floatingui-floating-motion-y, 0 ) );
	transition-duration: @transition-duration-base;
	transition-property: opacity, transform;
	transition-timing-function: @transition-timing-function-user;

	.ext-floatingui-floating--visible > & {
		opacity: @opacity-base;
		transition-delay: @transition-duration-medium;
	}

	.ext-floatingui-floating--visible[ data-mw-ext-floatingui-placement='top' ] > & {
		--ext-floatingui-floating-motion-y: ~'calc( var( --ext-floatingui-floating-motion-distance ) * -1 )';
	}

	.ext-floatingui-floating--visible[ data-mw-ext-floatingui-placement='right' ] > & {
		--ext-floatingui-floating-motion-x: var( --ext-floatingui-floating-motion-distance );
	}

	.ext-floatingui-floating--visible[ data-mw-ext-floatingui-placement='bottom' ] > & {
		--ext-floatingui-floating-motion-y: var( --ext-floatingui-floating-motion-distance );
	}

	.ext-floatingui-floating--visible[ data-mw-ext-floatingui-placement='left' ] > & {
		--ext-floatingui-floating-motion-x: ~'calc( var( --ext-floatingui-floating-motion-distance ) * -1 )';
	}
}

.ext-floatingui-floating-content {
	padding: @spacing-75;
	border-radius: inherit;
	background-color: inherit;
}

.ext-floatingui-floating-arrow {
	position: absolute;
	z-index: @z-index-bottom;
	width: @size-50;
	height: @size-50;
	border: inherit;
	background-color: inherit;
	box-shadow: inherit;
	transform: rotate( 45deg );
}
