.ext-floatingui-reference {
	cursor: pointer;
}

.ext-floatingui-floating {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800; /* z-index-tooltip */
	border-radius: 2px;
	background-color: var( --background-color-base, #fff );
	border: 1px solid var( --border-color-muted, #eaecf0 ); /* border-color-muted */
	box-shadow: 0 20px 48px 0 rgba( 0, 0, 0, 0.2 ); /* box-shadow-drop-xx-large */
	color: var( --color-base, #202122 );
	font-size: 0.875rem; /* font-size-small */
}

.ext-floatingui-floating-content {
	border-radius: inherit;
	background-color: inherit;
	padding: 8px 12px; /* spacing-50 spacing-75 */
}

.ext-floatingui-floating-arrow {
	position: absolute;
	z-index: -1;
	width: 8px;
	height: 8px;
	background-color: inherit;
	box-shadow: inherit;
	transform: rotate( 45deg );
	border: inherit;
}
